<footer class="footer">
    <span class="footer__text">
        &copy; 2020 - Wham - 
        <a class="footer__link" rel="noreferrer nofollow" target="_blank" href="https://twitter.com/overrideveloper">Overrideveloper</a>
    </span>
</footer>
