@{
    ViewData["Title"] = "Help";
}

<div class="help__page">
    <h5 class="help__page__title">Help</h5>

    <div class="help__page__content">
        <p class="help__content__text">Wham is purely a game of luck. A guessing game of some sort.</p>

        <p class="help__content__text">There are two players, one on 
            <span class="help__content__text--emphasis">offense</span> and the other on 
            <span class="help__content__text--emphasis">defense</span>.
        </p>

        <p class="help__content__text">The "game area" is a <span class="help__content__text--emphasis">3x3</span> grid with 9 tiles.</p>

        <p class="help__content__text">The goal of the game is for the player on <span class="help__content__text--emphasis">offense</span> 
            to guess which tile in the grid the player on <span class="help__content__text--emphasis">defense</span> selected.
        </p>

        <p class="help__content__text">If the player on <span class="help__content__text--emphasis">offense</span> guesses incorrectly, the roles are switched.</p>
        <p class="help__content__text">Each correct guess is a point. Incorrect guesses have no penalties.</p>
        <p class="help__content__text">The game ends when there's only one tile left.</p>
    </div>
</div>
