@{
    ViewData["Title"] = "Home";
}

<div class="home__page">
    <h5 class="home__page__title">Wham!</h5>

    <div class="home__page__menu">
        <button class="home__page__menu__btn" onclick="toVersusCOM()">Versus COM</button>
        <button class="home__page__menu__btn" disabled>Multiplayer</button>
        <button class="home__page__menu__btn" onclick="toHelp()">Help</button>
    </div>
</div>
