.help__page {
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem 1rem;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.help__page__title {
    color: var(--primary-color);
    font-size: 40px;
    margin: auto;
}

.help__page__content {
    padding: 1.5rem 1rem;
    width: 100%;
    box-sizing: border-box;
}

.help__content__text {
    color: var(--secondary-color);
    line-height: 1.5;
    margin-bottom: 1rem;
}

.help__content__text--emphasis {
    color: var(--primary-color);
}

@media screen and (min-width: 992px) {
    .help__page__content {
        text-align: center;
    }
}